@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  background-color: #FFFCEF;
  color: #5A4E42;
}

h3, .text-h3, .text-h3m{
  text-transform: uppercase;
}

.bars::before {
	--cal: calc(8.333333% - 1px);
	content: "";
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
	z-index: -1;
	/* 	mix-blend-mode: difference; */
	background: repeating-linear-gradient(
		to left,
		rgba(245, 242, 235, 0) 0 var(--cal),
		#c2c2c2 var(--cal) calc(var(--cal) + 1px)
	);
	--to-opacity: 0.5;
	opacity: var(--to-opacity);
  transform: rotate();
}

.card-overlay {
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
  bottom: 0;
  left: 0;
}

.btn{
  @apply py-3 px-10 rounded uppercase;

  &.btn-solid{
    @apply bg-secondary text-white;
  }

  &.btn-link{
    @apply text-secondary underline hover:no-underline;
  }

  &.btn-solid-reverse{
    @apply bg-white text-secondary;
  }
}

#darkmode {
  display: block;
  position: relative;
  background: transparent;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  border: 2px solid orange;
  cursor: pointer;
  transition: all 0.3s;
}
#darkmode.active > div {
  position: absolute;
  background-color: #5a4e42;
  height: 30px;
  width: 33px;
  right: -2px;
  top: 1.5px;
  border-radius: 50%;
  transform: rotate(62deg);
}
#darkmode.active {
  border-color: #5a4e42;
}
#darkmode div {
  display: block;
  position: absolute;
  background: orange;
  border-color: orange;
  height: 16px;
  width: 16px;
  right: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(50%, -50%);
  z-index: 2;
}
#darkmode:not(.active) div > span {
  position: absolute;
  width: 1.5px;
  height: 5px;
  background-color: orange;
  top: -8px;
  left: 46%;
  transform-origin: 50% 16px;
  border-radius: 10px;
}
#darkmode div > span:nth-child(1) {
  transform: rotate(0deg);
}
#darkmode div > span:nth-child(2) {
  transform: rotate(45deg);
}
#darkmode div > span:nth-child(3) {
  transform: rotate(90deg);
}
#darkmode div > span:nth-child(4) {
  transform: rotate(135deg);
}
#darkmode div > span:nth-child(5) {
  transform: rotate(180deg);
}
#darkmode div > span:nth-child(6) {
  transform: rotate(225deg);
}
#darkmode div > span:nth-child(7) {
  transform: rotate(270deg);
}
#darkmode div > span:nth-child(8) {
  transform: rotate(315deg);
}

svg{
  position: relative;
  overflow: visible;
  cursor: pointer;
}

#Kevin_Boere_Portfolio {
  position: absolute;
  left: 50%;
  top: 50%;
   transform: translate(50px, 100%);
  opacity: 0;
  transition: all .3s;
  transition-delay: .3s;
}

#Kevin_Boere_Portfolio.show{
  opacity: 1; 
  left: 50%;
  top: 50%;
   transform: translate(110px, 100%);
}


.container-shapes {
  min-height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
}

.shape-blob {
  background: #1581ff;
  height: 200px;
  width: 200px;
  border-radius: 30% 50% 20% 40%;
  animation: transform 20s ease-in-out infinite both alternate,
    movement_one 40s ease-in-out infinite both;
  opacity: 0.3;
  position: absolute;
  left: 70%;
  top: 50%;
}
.shape-blob.one {
  height: 500px;
  width: 500px;
  left: -200px;
  top: -150px;
  transform: rotate(-180deg);
  animation: transform 30s ease-in-out infinite both alternate,
    movement_two 60s ease-in-out infinite both;
}

.shape-blob.two {
  height: 350px;
  width: 350px;
  left: 500px;
  top: -150px;
  transform: rotate(-180deg);
  animation: transform 30s ease-in-out infinite both alternate,
    movement_two 60s ease-in-out infinite both;
}

@keyframes transform {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

@keyframes movement_one {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotateY(10deg) scale(1.2);
  }
}

@keyframes movement_two {
  0%,
  500% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotate(-200deg) scale(1.2);
  }
}
