@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

.text-stroke-border{
  color: transparent;
  -webkit-text-stroke-width: 1.5px ;
  -webkit-text-stroke-color: #5a4e42;
}

body.bg-dark {
  @apply bg-secondary text-primary;

  .shape-blob {
    @apply bg-primary drop-shadow-blob-light;
  }

  #svg_logo {
    path,
    text {
      @apply !fill-primary;
    }
  }

  #darkmode {
    @apply border-primary;
    div {
      @apply bg-primary border-primary;

      span {
        @apply bg-primary;
      }
    }
  }

  #header img {
    @apply filter invert brightness-0;
  }

  .btn {
    &.btn-solid {
      @apply bg-primary text-secondary border-primary;
      @apply hover:bg-transparent hover:text-primary;
    }

    &.btn-link {
      @apply text-primary;
    }

    &.btn-solid-reverse {
      @apply bg-white text-secondary;
    }
  }

  footer {
    img {
      @apply filter invert brightness-0;
    }
  }
}

h3,
.text-h3,
.text-h3m {
  text-transform: uppercase;
}

.card-overlay {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  bottom: 0;
  left: 0;
}

.btn {
  @apply py-3 px-10 rounded uppercase transition-all duration-300 ease-in-out;

  &.btn-solid {
    @apply bg-secondary text-white border-2 border-secondary;
    @apply hover:bg-transparent hover:text-secondary;
  }

  &.btn-link {
    @apply text-secondary underline hover:no-underline;
  }

  &.btn-solid-reverse {
    @apply bg-white text-secondary;
  }
}

#darkmode {
  @apply block relative bg-transparent rounded-full w-10 h-10 border-2 border-secondary cursor-pointer;
  transition: all 0.3s;
}
#darkmode.active > div {
  @apply absolute bg-secondary h-7 w-8 -right-[2px] top-[1.5px] rounded-full;
  transform: rotate(62deg);
}
#darkmode.active {
  @apply border-secondary;
}
#darkmode div {
  @apply block absolute bg-secondary border-secondary h-4 w-4 top-1/2 right-1/2 rounded-full z-[2];
  transform: translate(50%, -50%);
}
#darkmode:not(.active) div > span {
  @apply absolute w-[1.5px] h-[5px] bg-secondary -top-2 left-[46%] rounded-[10px];
  transform-origin: 50% 16px;
}
#darkmode div > span:nth-child(1) {
  transform: rotate(0deg);
}
#darkmode div > span:nth-child(2) {
  transform: rotate(45deg);
}
#darkmode div > span:nth-child(3) {
  transform: rotate(90deg);
}
#darkmode div > span:nth-child(4) {
  transform: rotate(135deg);
}
#darkmode div > span:nth-child(5) {
  transform: rotate(180deg);
}
#darkmode div > span:nth-child(6) {
  transform: rotate(225deg);
}
#darkmode div > span:nth-child(7) {
  transform: rotate(270deg);
}
#darkmode div > span:nth-child(8) {
  transform: rotate(315deg);
}

svg {
  position: relative;
  overflow: visible;
  cursor: pointer;
}

#Kevin_Boere_Portfolio {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(50px, 100%);
  opacity: 0;
  transition: all 0.3s;
  transition-delay: 0.3s;

  @apply hidden lg:block opacity-0 absolute top-1/2 left-1/2 transition-all duration-300 ease-in-out;
}

#svg_logo {
  @apply w-10 h-10 ml-10 lg:ml-0;
}

#Kevin_Boere_Portfolio.show {
  @apply opacity-100 left-1/2 top-1/2;
  transform: translate(110px, 100%);
}

#header {
  img {
    @apply w-10 h-10;
  }
}

#mobile-menu {
  @apply flex lg:hidden flex-col justify-center items-center gap-1 h-11 w-8 right-4;

  & span {
    @apply w-8 h-[2px] rounded-full bg-secondary text-transparent overflow-hidden;
  }
}

.is-mobile.scrolled {
  @apply bg-secondary text-white h-[4.5rem] fixed top-0 w-full transition-all duration-300 ease-in z-30;

  #mobile-menu {
    & span {
      @apply bg-white;
    }
  }

  #svg_logo path {
    @apply fill-white;
  }

  #darkmode {
    @apply border-white;
    div {
      @apply bg-white border-white;

      span {
        @apply bg-white;
      }
    }
  }

  img {
    @apply filter invert brightness-0;
  }
}

.has-mobile-menu {
  @apply bg-secondary text-white h-screen transition-all duration-500 ease-in-out z-30;

  #mobile-menu {
    & span {
      @apply bg-white;
    }

    & span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px);
    }

    & span:last-of-type {
      transform: rotate(-45deg) translate(2px, -2px);
    }
  }

  #svg_logo path {
    @apply fill-white;
  }

  #darkmode {
    @apply border-white;
    div {
      @apply bg-white border-white;

      span {
        @apply bg-white;
      }
    }
  }

  img {
    @apply filter invert brightness-0;
  }
}

.mobile-menu {
  @apply -top-[100vh] bg-secondary text-white absolute w-screen h-screen -ml-4 p-4 transition-all duration-300 ease-in-out flex-col items-center content-center gap-4;
  &.show {
    @apply flex top-16;

    li {
      @apply py-4 px-8 backdrop-filter backdrop-blur bg-opacity-30 bg-white rounded-lg text-center;

      a {
        @apply text-white uppercase underline hover:no-underline;
      }
    }
  }
}

.swiper-pagination {
  @apply !relative;
  .swiper-pagination-bullet {
    @apply !bg-primary;
  }
}

.container-shapes {
  min-height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
}

.shape-blob {
  @apply drop-shadow-blob;
  background: #1581ff;
  height: 200px;
  width: 200px;
  border-radius: 30% 50% 20% 40%;
  animation: transform 20s ease-in-out infinite both alternate,
    movement_one 40s ease-in-out infinite both;
  opacity: 0.3;
  position: absolute;
  left: 70%;
  top: 50%;
}
.shape-blob.one {
  height: 500px;
  width: 500px;
  left: -200px;
  top: -150px;
  transform: rotate(-180deg);
  animation: transform 30s ease-in-out infinite both alternate,
    movement_two 60s ease-in-out infinite both;
}

.shape-blob.two {
  height: 350px;
  width: 350px;
  left: 500px;
  top: -150px;
  transform: rotate(-180deg);
  animation: transform 30s ease-in-out infinite both alternate,
    movement_two 60s ease-in-out infinite both;
}

@keyframes transform {
  0%,
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
}

@keyframes movement_one {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotateY(10deg) scale(1.2);
  }
}

@keyframes movement_two {
  0%,
  500% {
    transform: none;
  }
  50% {
    transform: translate(50%, 20%) rotate(-200deg) scale(1.2);
  }
}

